@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.AboutUs;
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Extensions;

@inject ILocalizationManager LocalizationManager
@{
    var L = LocalizationManager.GetHtmlLocalizer("AboutUs");

    var img = L["vc:about-us:img"].Value;
    var h3 = L["vc:about-us:h3"].Value;
    var p1 = L["vc:about-us:p1"].Value;
    var p2 = L["vc:about-us:p2"].Value;
    var a1 = L["vc:about-us:a1"].Value;
}

<div class="container">

    <div class="row align-items-center col-mb-50">

        <div class="col-md-4 text-center">
            @Html.RenderImage(img)
        </div>

        <div class="col-md-8 text-center text-md-start">
            <div class="heading-block border-bottom-0">
                @Html.RenderH3(h3)
            </div>
            @Html.RenderParagraph(p1)
            @Html.RenderParagraph(p2)
            @Html.RenderAnchor(a1)
        </div>

    </div>

</div>