@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic
@using Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Bundling
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.ContentTitle
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.MainNavbar
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.PageAlerts
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Topbar
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetScripts
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetStyles
@using Volo.Abp.Localization
@using Volo.Abp.MultiTenancy
@using Volo.Abp.Ui.Branding
@using Volo.Abp.Ui.LayoutHooks

@inject IAgileCmsBrandingProvider Branding
@inject ICurrentTenant CurrentTenant
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<MdwResource> L

@{
    Layout = null;

    var pageTitle = L["Index|Meta|Title"].Value;

    var description = L["Index|Meta|Description"].Value;
}

<!DOCTYPE html>

<html lang="@CultureInfo.CurrentCulture.Name">
<head>
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.First, StandardLayouts.Application)

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="@description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <abp-style-bundle name="@BasicThemeBundles.Styles.Global" />

@*     <link rel="stylesheet" href="/libs/abp/core/abp.css" />
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/libs/@fortawesome/fontawesome-free/css/all.css?_v=638356968317230000" />
    <link rel="stylesheet" href="/libs/@fortawesome/fontawesome-free/css/v4-shims.css?_v=638356968317230000" />
    <link rel="stylesheet" href="/libs/toastr/toastr.min.css" />
    <link rel="stylesheet" href="/libs/select2/css/select2.min.css" />
    <link rel="stylesheet" href="/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="/libs/datatables.net-bs5/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="/libs/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/libs/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-styles.css" />
    <link rel="stylesheet" href="/libs/abp/aspnetcore-mvc-ui-theme-shared/date-range-picker/date-range-picker-styles.css" /> *@

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">

    <!-- Core Style -->
    <link rel="stylesheet" href="style.css">

    <!-- Font Icons -->
    <link rel="stylesheet" href="css/font-icons.css">

    <!-- Plugins/Components CSS -->
    <link rel="stylesheet" href="css/swiper.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <title>@pageTitle</title>

@*     @await Component.InvokeAsync(typeof(WidgetStylesViewComponent)) *@

    @await RenderSectionAsync("styles", false)

    @* @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.Last, StandardLayouts.Application) *@

</head>

<body class="abp-application-layout stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper">

        @(await Component.InvokeAsync<TopNavbarToolbarViewComponent>(Branding.ShortName))

        @(await Component.InvokeAsync<MainNavbarViewComponent>(Branding.ShortName))

        @await RenderSectionAsync("content_toolbar", false)

        @RenderBody()

        @* @(await Component.InvokeAsync<FooterViewComponent>()) *@


    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="fas fa-angle-up"></div>
@* 
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
 *@

@*     <abp-script-bundle name="@MdwThemeBundles.Scripts.Global" />
 *@
    <!-- JavaScripts
    ============================================= -->
    <script src="js/jquery.js"></script>
    <script src="js/functions.js"></script>

    <abp-script-bundle name="@BasicThemeBundles.Scripts.Global" />
@*     <script src="/libs/abp/utils/abp-utils.umd.min.js"></script>
    <script src="/libs/abp/core/abp.js"></script>
    <script src="/libs/jquery/jquery.js"></script>
    <script src="/libs/abp/jquery/abp.jquery.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/libs/lodash/lodash.min.js"></script>
    <script src="/libs/jquery-validation/jquery.validate.js"></script>
    <script src="/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="/libs/jquery-form/jquery.form.min.js"></script>
    <script src="/libs/select2/js/select2.min.js"></script>
    <script src="/libs/datatables.net/js/jquery.dataTables.js"></script>
    <script src="/libs/datatables.net-bs5/js/dataTables.bootstrap5.js"></script>
    <script src="/libs/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/libs/toastr/toastr.min.js"></script>
    <script src="/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/libs/luxon/luxon.min.js"></script>
    <script src="/libs/abp/luxon/abp.luxon.js"></script>
    <script src="/libs/timeago/jquery.timeago.js"></script>
    <script src="/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/libs/moment/moment.min.js"></script>
    <script src="/libs/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/libs/abp/aspnetcore-mvc-ui-theme-shared/ui-extensions.js"></script>
    <script src="/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/jquery-extensions.js"></script>
    <script src="/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery-form/jquery-form-extensions.js"></script>
    <script src="/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/widget-manager.js"></script>
    <script src="/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js"></script>
    <script src="/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js"></script>
    <script src="/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js"></script>
    <script src="/libs/abp/aspnetcore-mvc-ui-theme-shared/sweetalert2/abp-sweetalert2.js"></script>
    <script src="/libs/abp/aspnetcore-mvc-ui-theme-shared/toastr/abp-toastr.js"></script>
    <script src="/Pages/Abp/MultiTenancy/tenant-switch.js"></script>
    <script src="/themes/basic/layout.js"></script>
    <script src="/libs/bootstrap-datepicker/locales/bootstrap-datepicker.en-GB.min.js"></script>
    <script src="/libs/moment/locale/en-GB.js"></script> *@

    <script src="~/Abp/ApplicationLocalizationScript?cultureName=@CultureInfo.CurrentUICulture.Name"></script>
    <script src="~/Abp/ApplicationConfigurationScript"></script>
    <script src="~/Abp/ServiceProxyScript"></script>

    @await Component.InvokeAsync(typeof(WidgetScriptsViewComponent))

    @await RenderSectionAsync("scripts", false)

    @await Component.InvokeLayoutHookAsync(LayoutHooks.Body.Last, StandardLayouts.Application)

</body>
</html>
