@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Introduction;
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Extensions;

@inject ILocalizationManager LocalizationManager
@{
	var L = LocalizationManager.GetHtmlLocalizer("Introduction");

	var img = L["vc:introduction:img"].Value;
	var h1 = L["vc:introduction:h1"].Value;
	var h2 = L["vc:introduction:h2"].Value;
	var a1 = L["vc:introduction:a1"].Value;
	var a2 = L["vc:introduction:a2"].Value;
}

<div class="container">

	<div class="mx-auto text-center" style="max-width: 900px;">
		@Html.RenderImage(img)
		@Html.RenderH1(h1)
		@Html.RenderH2(h2)
		@Html.RenderAnchor(a1)
		@Html.RenderAnchor(a2)
	</div>

</div>

<div class="line"></div>
